@model MDW.Models.PageListModel

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><b>Pages</b></h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <td><b><small>Name</small></b></td>
                    <td><b><small>Url</small></b></td>
                    <td><b><small>Group</small></b></td>
                    <td class="text-center"><span class="glyphicon glyphicon-trash"></span></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var page in Model.Pages)
                {
                    <tr>
                        <td><a href="@page.AbsoluteUrl" target="_blank">@page.Name</a></td>
                        <td>@page.Url</td>
                        <td>@page.Group</td>
                        <td width="10px" class="text-center">
                            @using (Html.BeginForm("DeleteRole", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" id="name" name="name" value="@page.Name" />
                                <button type="submit" class="btn btn-xs btn-default">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>